* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav {
  width: 85%;
  margin: auto;
}

#WelcomeVilla {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/img/hero_1.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  text-align: center;
}
#WelcomeVilla .WelcomeVillacontainer {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
#WelcomeVilla .WelcomeVillacontainer .row {
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
#WelcomeVilla .WelcomeVillacontainer .row .WelcomeVillatext {
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
#WelcomeVilla .WelcomeVillacontainer .row .WelcomeVillatext h1 {
  color: white;
  font-size: 80px;
  font-weight: 700;
}
#WelcomeVilla .WelcomeVillacontainer .row .WelcomeVillatext p {
  margin-top: 20px;
  font-size: 30px;
  color: white;
}
#WelcomeVilla .WelcomeVillacontainer .row .WelcomeVillatext div {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
}
#WelcomeVilla .WelcomeVillacontainer .row .WelcomeVillatext div button {
  border: none;
  color: white;
  background-color: #E61C5D;
  width: 220px;
  height: 40px;
  border-radius: 20px;
}
#WelcomeVilla .WelcomeVillacontainer .row .WelcomeVillatext div button:hover {
  background-color: rgba(230, 28, 93, 0.8);
}
#WelcomeVilla .WelcomeVillacontainer .row .WelcomeVillatext div .download {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid white;
}
#WelcomeVilla .WelcomeVillacontainer .row .WelcomeVillatext div .download:hover {
  background-color: white;
  color: black;
}

#Visits {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
#Visits .Visitscontainer {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
#Visits .Visitscontainer .row img {
  width: 250px;
  margin-bottom: 10px;
}
#Visits .Visitscontainer .row .stars {
  display: flex;
  justify-content: space-between;
}

#VisitsPlace {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  text-align: center;
}
#VisitsPlace .VisitsPlacecontainer {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
#VisitsPlace .VisitsPlacecontainer .row .VisitsPlacetext {
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 200px;
  gap: 10px;
  margin-bottom: 25px;
}
#VisitsPlace .VisitsPlacecontainer .row .VisitsPlacetext h1 {
  font-size: 60px;
  font-weight: 450;
}

#RecentBlogs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  text-align: center;
}
#RecentBlogs .RecentBlogscontainer {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
#RecentBlogs .RecentBlogscontainer .row .RecentBlogstext {
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
  position: relative;
  left: 200px;
}
#RecentBlogs .RecentBlogscontainer .row .RecentBlogstext h1 {
  font-size: 60px;
  font-weight: 450;
}
#RecentBlogs .RecentBlogscontainer .row .blogs {
  display: flex;
  gap: 22px;
}
#RecentBlogs .RecentBlogscontainer .row .blogs img {
  width: 350px;
}

#testimonial {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  text-align: center;
}
#testimonial .testimonialcontainer {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin-top: 25px;
}
#testimonial .testimonialcontainer .row img {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 70px;
  border-radius: 50%;
}

footer {
  width: 100%;
  background-color: #1A1A1A;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
footer .emailcontainer {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin-top: 25px;
}
footer .emailcontainer .row ol {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
}
footer .emailcontainer .row ol li {
  color: white;
}
footer .emailcontainer .row div {
  color: white;
}
footer .emailcontainer .row div p {
  font-family: cursive;
}
footer .emailcontainer .row div input {
  background-color: transparent;
  outline: none;
  border: none;
  padding-left: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}